<div class="row">


  <div class="col-12 text-center">

    <div *ngIf="(mostrarFormulario)" class="row">
      <div class="col-12 mb-5">
        <app-formulario-crear-evento (onCrearEvento)="misEventos.push($event)" (onChangePath)="actualizarPath($event)" [organizador]="usuarioActual" [isCollaps]="isCollaps" ></app-formulario-crear-evento>
      </div>
    </div>


    <div  *ngIf="(!mostrarFormulario)" class="row" [style]="(misEventos.length == 0 ? 'margin-top: 9rem;': 'margin-top: 1rem;' )">
      <div class="col-12">
          <h1 style="color:#4484CE;">{{misEventos.length == 0 ? '¡Aún no hay eventos creados!': 'Agregar nuevo evento'}}</h1>
      </div>
    </div>

    <div *ngIf="(!mostrarFormulario)" class="row">
      <div class="col-12">
        <span
          mat-raised-button matTooltip="Agregar un nuevo evento"
          class="material-icons btn-add"
          (click)="mostrarFormularioCrearEvento(true)"
          >add_circle_outline
        </span>
      </div>
    </div>


    <div class="row">
      <div class="col-3 mt-4" *ngFor="let evento of (misEventos)">
        <app-card-evento-organizador  [evento]="evento"></app-card-evento-organizador>
      </div>
    </div>



  </div>

</div>

