<div *ngIf="usuarioEncargado" class="card card-radius mt-4" style="width: 100%;">
  <div class="row">
    <div class="col-12">
      <div class="row">

        <div class="col-12">
          <img class="card-img-top card-radius" [src]="conferencia.Imagen" alt="Card image cap">
        </div>

        <div style="position: absolute; margin-top: 5px;" class="col-12">
          <div class="detalle container-fluid">
            <div class="row no-padding no-margin">
              <div class="col no-padding no-margin">
                <span class="lbl-1">Fecha:</span>
              </div>
              <div class="col no-padding no-margin">
                <span class="lbl-2">{{obtenerFormatoFecha(conferencia.Fecha_Inicio)}}</span>
              </div>
            </div>

            <div class="row no-padding no-margin">
              <div class="col no-padding no-margin">
                <span class="lbl-1">Inicio:</span>
              </div>
              <div class="col no-padding no-margin">
                <span class="lbl-2">{{conferencia.Hora_Inicio}}</span>
              </div>
            </div>

            <div class="row no-padding no-margin">
              <div class="col no-padding no-margin">
                <span class="lbl-1">Fin:</span>
              </div>
              <div class="col no-padding no-margin">
                <span class="lbl-2">{{conferencia.Hora_Final}}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <h5 class="card-title txt-conferencia text-left">{{conferencia.Tipo == 0 ? 'Taller' : 'Conferencia' }}</h5>
      </div>
      <div class="col-6">
        <h5 class="card-title text-right" [class]="(conferencia.Estado_Conferencia)" >{{conferencia.Estado_Conferencia}}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1 class="titulo-conferencia">{{conferencia.Nombre}}</h1>
      </div>
    </div>
    <p class="card-text descripcion">{{conferencia.Descripcion}}</p>

  </div>
  <div class="card-footer">


    <!-- Vista desde buscar -->

    <div  class="row no-padding no-margin">
      <span style="margin:0; padding:0" class="col-1">
        <img class="imagen" [src]="usuarioEncargado.Fotografia" alt="">
      </span>

      <span  (click)="mostrarUsuarioEncargado()" class="txt-footer txt-participantes col-4"> {{(usuarioEncargado.Nombre)}} </span>


      <span *ngIf="(!isParticipante)" (click)="inscribirme(modaDialogoExito, modalError)" mat-raised-button matTooltip="Inscribirme" class="material-icons icono-footer col-1">how_to_reg</span>
      <span *ngIf="(isParticipante)" (click)="desInscribirme(modaDialogoExito, modalError)" mat-raised-button matTooltip="Desinscribirme" class="material-icons icono-footer col-1">do_not_disturb_on</span>


      <div class="col-5">
        <a *ngIf="conferencia.Modalidad == 1" class="txt-footer" [href]="conferencia.Medio">Ir a conferencia
          <span class="material-icons txt-footer">arrow_right_alt</span>
        </a>
        <p *ngIf="conferencia.Modalidad == 0" class="txt-footer">
          {{conferencia.Medio}}
        </p>

      </div>
    </div>

  </div>
</div>

<!-- Modal Dialogo Éxito -->
<ng-template #modaDialogoExito let-modal>
  <div class="modal-encabezado modal-exito">
    <div class="row">

      <div class="col-12">
        <button type="button" class="close mr-2 mt-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span style="color: white;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12">
        <span class="material-icons" style="color: white; font-size: 121px;">
          check_circle_outline
        </span>
      </div>

    </div>
  </div>

  <div class="modal-body modal-cuerpo">
      <h3>¡Excelente!</h3>
      <h3>Se ha registrado en esta conferencia</h3>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary centrar btn-1" style="margin-left: auto; margin-right: auto; padding-left: 1.25rem; padding-right: 1.25rem;" (click)="modal.close('Close click')">OK</button>
  </div>
</ng-template>

<!-- Modal Error -->
<ng-template #modalError let-modal>
  <div class="modal-encabezado modal-error">
    <div class="row">

      <div class="col-12">
        <button type="button" class="close mr-2 mt-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span style="color: white;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12">
        <span class="material-icons" style="color: white; font-size: 121px;">
          {{mensajeModal[0].icono}}
        </span>

      </div>

    </div>
  </div>

  <div class="modal-body modal-cuerpo">
      <h3>{{mensajeModal[1].titulo1}}</h3>
      <h3>{{mensajeModal[1].titulo2}}</h3>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary  btn-1" style="margin-left: auto; margin-right: auto; padding-left: 1.25rem; padding-right: 1.25rem;" (click)="modal.close('Close click')">Aceptar</button>
  </div>
</ng-template>
