<div class="card card-radius mt-4" style="width: 100%;">
  <div class="row">
    <div class="col-12">
      <div class="row">

        <div class="col-12">
          <img class="card-img-top card-radius" [src]="conferencia.Imagen" alt="Card image cap">
        </div>

        <div style="position: absolute; margin-top: 5px;" class="col-12">
          <div class="detalle container-fluid">
            <div class="row no-padding no-margin">
              <div class="col no-padding no-margin">
                <span class="lbl-1">Fecha:</span>
              </div>
              <div class="col no-padding no-margin">
                <span class="lbl-2">{{obtenerFormatoFecha(conferencia.Fecha_Inicio)}}</span>
              </div>
            </div>

            <div class="row no-padding no-margin">
              <div class="col no-padding no-margin">
                <span class="lbl-1">Inicio:</span>
              </div>
              <div class="col no-padding no-margin">
                <span class="lbl-2">{{conferencia.Hora_Inicio}}</span>
              </div>
            </div>

            <div class="row no-padding no-margin">
              <div class="col no-padding no-margin">
                <span class="lbl-1">Fin:</span>
              </div>
              <div class="col no-padding no-margin">
                <span class="lbl-2">{{conferencia.Hora_Final}}</span>
              </div>
            </div>
          </div>
        </div>
        <div style="position: absolute; margin-top: 5px;" class="col-12">
          <div class="container text-right">
            <div (click)="eliminarConferencia()" class="circulo-cerrar">
              <span style="color:red;" class="material-icons">
                close
              </span>
            </div>
          </div>

        </div>


      </div>
    </div>

  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <h5 class="card-title txt-conferencia text-left">{{conferencia.Tipo == 0 ? 'Taller' : 'Conferencia' }}</h5>
      </div>
      <div class="col-6">
        <h5 class="card-title text-right estado-activo">Activo</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1 class="titulo-conferencia">{{conferencia.Nombre}}</h1>
      </div>
    </div>
    <p class="card-text descripcion">{{conferencia.Descripcion}}</p>

  </div>
  <div class="card-footer">
    <div class="row no-padding no-margin">
      <div class="col-2 no-padding no-margin">
        <span class="material-icons">
          group
          </span>
      </div>
      <div class="col-5 no-padding no-margin">
        <span (click)="mostrarListaAsistencia()" class="txt-footer txt-participantes"> Gestionar participantes </span>

      </div>

      <div class="col-5 no-padding no-margin">
        <a *ngIf="conferencia.Modalidad == 1" class="txt-footer" [href]="conferencia.Medio">Ir a conferencia
          <span class="material-icons txt-footer">arrow_right_alt</span>
        </a>
        <p *ngIf="conferencia.Modalidad == 0" class="txt-footer">
          {{conferencia.Medio}}
        </p>

      </div>
    </div>
  </div>
</div>
