
<div *ngIf="(!editando.mostrarFormularioEditarPerfil)" class="row perfil-usuario">
  <div class="col-12">
    <div class="container-fluid">
      <div class="div-imagen container-fluid">
        <img class="imagen" [src]="perfil.imagen" alt="">
      </div>
    </div>
  </div>

  <div class="col-12">
    <h4 class="text-center txt-nombreUsuario mt-3">{{obtenerNombreCompleto()}}</h4>
  </div>

  <div class="col-12">
    <div class="row container centrar">

      <div class="col-lg-6">
        <div class="row">

          <div class="col-12">
            <div class="row mt-4 item">
              <!-- Titulo-->
              <div class="col-2">
                <div class="row no-padding no-margin">


                  <div class="col-10 no-padding no-margin">
                    <span class="txt-tituloNombre ">Nombre</span>
                  </div>

                </div>
              </div>
              <!-- Contenido-->
              <div class="col-10">
                <span class="ml-5 txt-spanNombreUsuario">{{perfil.nombre}}</span>
              </div>
            </div>

            <div class="row mt-4 item">
              <!-- Titulo-->
              <div class="col-2">
                <div class="row no-padding no-margin">


                  <div class="col-10 no-padding no-margin">
                    <span class="txt-tituloNombre ">Apellido</span>
                  </div>

                </div>
              </div>
              <!-- Contenido-->
              <div class="col-9">
                <span class="ml-5 txt-spanNombreUsuario">{{perfil.apellido}}</span>
              </div>
            </div>

            <div class="row mt-4 item">
              <!-- Titulo-->
              <div class="col-2">
                <div class="row no-padding no-margin">


                  <div class="col-10 no-padding no-margin">
                    <span class="txt-tituloNombre ">Correo</span>
                  </div>

                </div>
              </div>
              <!-- Contenido-->
              <div class="col-9">
                <span class="ml-5 txt-spanNombreUsuario">{{perfil.email}}</span>
              </div>
            </div>

            <div class="row mt-4 item">
              <!-- Titulo-->
              <div class="col-2">
                <div class="row no-padding no-margin">


                  <div class="col-10 no-padding no-margin">
                    <span class="txt-tituloNombre ">Institución</span>
                  </div>

                </div>
              </div>
              <!-- Contenido-->
              <div class="col-9">
                <span class="ml-5 txt-spanNombreUsuario">{{perfil.institucion}}</span>
              </div>
            </div>

            <div class="row mt-4 item">
              <!-- Titulo-->
              <div class="col-2">
                <div class="row no-padding no-margin">


                  <div class="col-10 no-padding no-margin">
                    <span class="txt-tituloNombre ">Formación Acádemica</span>
                  </div>

                </div>
              </div>
              <!-- Contenido-->
              <div class="col-9">
                <span class="ml-5 txt-spanNombreUsuario">{{perfil.formacionAcademica}}</span>
              </div>
            </div>

          </div>


        </div>

      </div>

      <div class="col-lg-6">
        <div class="row mt-4 item">
          <!-- Titulo-->
          <div class="col-2">
            <div class="row no-padding no-margin">


              <div class="col-10 no-padding no-margin">
                <span class="txt-tituloNombre ">Intereses</span>
              </div>

            </div>
          </div>
          <!-- Contenido-->
          <div class="col-9">
            <div class="texto ml-5 border border-3">
              <span class="ml-1 interes mt-1 mb-1" *ngFor="let tag of perfil.intereses" >{{tag}}</span>
            </div>
          </div>
         </div>

         <div class="row mt-4 item">
          <!-- Titulo-->
          <div class="col-2">
            <div class="row no-padding no-margin">


              <div class="col-10 no-padding no-margin">
                <span class="txt-tituloNombre ">Descripción</span>
              </div>

            </div>
          </div>
          <!-- Contenido-->
          <div class="col-9 mb-3">
            <div class="texto ml-5 border border-3">
              <p class="mt-1 mb-1">{{perfil.descripcion}}</p>
            </div>
          </div>

          <div class="row col-12">
            <fa-icon matTooltip="Editar mi perfil" (click)="mostrarFormularioEditar()" class=" mr-4" style="cursor:pointer; font-size: 30px; margin-left: auto; color: #4484ce;" [icon]="faEdit"></fa-icon>
          </div>
        </div>
    </div>
  </div>
  </div>

</div>

<div  *ngIf="(editando.mostrarFormularioEditarPerfil)" class="row container centrar">
  <div class="col-12">
    <app-formulario-registro-usuario
      (cancelarEditar)="editando.mostrarFormularioEditarPerfil=false;"
      (formularioEditar)="onClickEditar(modalConfirmacion, $event)"
      [objUsuario]="perfil"
      [editarPerfil]="true">
    </app-formulario-registro-usuario>
  </div>
</div>

<!-- Modal Error -->
<ng-template #modalError let-modal>
  <div class="modal-encabezado modal-error">
    <div class="row">

      <div class="col-12">
        <button type="button" class="close mr-2 mt-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span style="color: white;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12">
        <span class="material-icons" style="color: white; font-size: 121px;">
          {{mensajeModal[2].icono}}
        </span>

      </div>

    </div>
  </div>

  <div class="modal-body modal-cuerpo">
      <h3>{{mensajeModal[2].titulo1}}</h3>
      <h3>{{mensajeModal[2].titulo2}}</h3>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary  btn-1" style="margin-left: auto; margin-right: auto; padding-left: 1.25rem; padding-right: 1.25rem;" (click)="modal.close('Close click')">Aceptar</button>
  </div>
</ng-template>


<!--Modal dialogo exito-->
<ng-template #modaDialogoExito let-modal>
  <div class="modal-encabezado modal-exito">
    <div class="row">

      <div class="col-12">
        <button type="button" class="close mr-2 mt-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span style="color: white;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12">
        <span class="material-icons" style="color: white; font-size: 121px;">
          check_circle_outline
        </span>
      </div>

    </div>
  </div>

  <div class="modal-body modal-cuerpo">
      <h3>¡Excelente!</h3>
      <h3>Su perfil se actualizo exitosamente</h3>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary centrar btn-1" style="margin-left: auto; margin-right: auto; padding-left: 1.25rem; padding-right: 1.25rem;" (click)="modal.close('Close click')">OK</button>
  </div>
</ng-template>

<!-- Modal de confirmación-->
<ng-template #modalConfirmacion let-modal>
  <div class="modal-encabezado modal-confirmacion">
    <div class="row">

      <div class="col-12">
        <button type="button" class="close mr-2 mt-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span style="color: white;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12">
        <span class="material-icons" style="color: white; font-size: 121px;">
          {{mensajeModal[1].icono}}
        </span>

      </div>

    </div>
  </div>

  <div class="modal-body modal-cuerpo">
      <h3>{{editando.mostrarFormularioEditarPerfil ? mensajeModal[1].titulo1 : null}}</h3>
      <h3>{{editando.mostrarFormularioEditarPerfil ? mensajeModal[1].titulo2 : null}}</h3>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary  btn-2" style="margin-left: auto; margin-right: auto; padding-left: 1.25rem; padding-right: 1.25rem;" (click)="modal.close('Close click')">No, cancelar</button>
      <button type="button" class="btn btn-primary  btn-1 " style="margin-left: auto; margin-right: auto; padding-left: 1.25rem; padding-right: 1.25rem; border-color: rgba(0, 0, 0, 0);" (click)="editarUsuario(modal, modalError, modaDialogoExito)">Sí, editar</button>
  </div>
</ng-template>
