<div class="row">
  <div class="col-12">
    <div class="container-fluid">
      <div class="div-imagen container-fluid">
        <img class="imagen" [src]="perfil.imagen" alt="">
      </div>
    </div>
  </div>

  <div class="col-12">
    <h4 class="text-center txt-nombreUsuario mt-3">{{obtenerNombreCompleto()}}</h4>
  </div>

  <div class="col-12">
    <div class="row container centrar">

      <div class="col-lg-6">
        <div class="row">

          <div class="col-12">
            <div class="row mt-4 item">
              <!-- Titulo-->
              <div class="col-2">
                <div class="row no-padding no-margin">


                  <div class="col-10 no-padding no-margin">
                    <span class="txt-tituloNombre ">Nombre</span>
                  </div>

                </div>
              </div>
              <!-- Contenido-->
              <div class="col-10">
                <span class="ml-5 txt-spanNombreUsuario">{{perfil.nombre}}</span>
              </div>
            </div>

            <div class="row mt-4 item">
              <!-- Titulo-->
              <div class="col-2">
                <div class="row no-padding no-margin">


                  <div class="col-10 no-padding no-margin">
                    <span class="txt-tituloNombre ">Apellido</span>
                  </div>

                </div>
              </div>
              <!-- Contenido-->
              <div class="col-9">
                <span class="ml-5 txt-spanNombreUsuario">{{perfil.apellido}}</span>
              </div>
            </div>

            <div class="row mt-4 item">
              <!-- Titulo-->
              <div class="col-2">
                <div class="row no-padding no-margin">


                  <div class="col-10 no-padding no-margin">
                    <span class="txt-tituloNombre ">Correo</span>
                  </div>

                </div>
              </div>
              <!-- Contenido-->
              <div class="col-9">
                <span class="ml-5 txt-spanNombreUsuario">{{perfil.email}}</span>
              </div>
            </div>

            <div class="row mt-4 item">
              <!-- Titulo-->
              <div class="col-2">
                <div class="row no-padding no-margin">


                  <div class="col-10 no-padding no-margin">
                    <span class="txt-tituloNombre ">Institución</span>
                  </div>

                </div>
              </div>
              <!-- Contenido-->
              <div class="col-9">
                <span class="ml-5 txt-spanNombreUsuario">{{perfil.institucion}}</span>
              </div>
            </div>

            <div class="row mt-4 item">
              <!-- Titulo-->
              <div class="col-2">
                <div class="row no-padding no-margin">


                  <div class="col-10 no-padding no-margin">
                    <span class="txt-tituloNombre ">Formación Acádemica</span>
                  </div>

                </div>
              </div>
              <!-- Contenido-->
              <div class="col-9">
                <span class="ml-5 txt-spanNombreUsuario">{{perfil.formacionAcademica}}</span>
              </div>
            </div>

          </div>


        </div>

      </div>

      <div class="col-lg-6">
        <div class="row mt-4 item">
          <!-- Titulo-->
          <div class="col-2">
            <div class="row no-padding no-margin">


              <div class="col-10 no-padding no-margin">
                <span class="txt-tituloNombre ">Intereses</span>
              </div>

            </div>
          </div>
          <!-- Contenido-->
          <div class="col-9">
            <div class="texto ml-5 border border-3">
              <span class="ml-1 interes mt-1 mb-1" *ngFor="let tag of perfil.intereses" >{{tag}}</span>
            </div>
          </div>
         </div>

         <div class="row mt-4 item">
          <!-- Titulo-->
          <div class="col-2">
            <div class="row no-padding no-margin">


              <div class="col-10 no-padding no-margin">
                <span class="txt-tituloNombre ">Descripción</span>
              </div>

            </div>
          </div>
          <!-- Contenido-->
          <div class="col-9 mb-3">
            <div class="texto ml-5 border border-3">
              <p class="mt-1 mb-1">{{perfil.descripcion}}</p>
            </div>
          </div>

          <div class="row col-12">
            <fa-icon class=" mr-4" style="font-size: 30px; margin-left: auto; color: #4484ce;" [icon]="faEdit"></fa-icon>
          </div>
        </div>
    </div>
  </div>
</div>
