<footer class="footer">
  <div class="row margin-footer">
    <div class="col-3 mt-5 mb-5">
      <div class="row">
        <div class="col-12">
          <h1 class="titulo">Páginas</h1>
        </div>
        <div class="col-12"><a class="txt-item" href="#">Home</a></div>
        <div class="col-12"><a class="txt-item" href="#">Eventos</a></div>
        <div class="col-12"><a class="txt-item" href="#">Acerca De</a></div>
        <div class="col-12"><a class="txt-item" href="#">Contáctanos</a></div>
      </div>
    </div>

    <div class="col-3 mt-5 mb-5">
      <div class="row">
        <div class="col-12">
          <h1 class="titulo">Servicios</h1>
        </div>
        <div class="col-12"><a class="txt-item" href="#">Eventos académicos</a></div>
        <div class="col-12"><a class="txt-item" href="#">Talleres</a></div>
        <div class="col-12"><a class="txt-item" href="#">Conferencias</a></div>
        <div class="col-12"><a class="txt-item" href="#">Diplomas por participación</a></div>
      </div>
    </div>

    <div class="col-3 mt-5 mb-5">
      <div class="row">
        <div class="col-12">
          <h1 class="titulo">Acerca de</h1>
        </div>
        <div class="col-12"><a class="txt-item" href="#">¿Quiénes somos?</a></div>
        <div class="col-12"><a class="txt-item" href="#">Funcionalidades</a></div>

      </div>
    </div>
    <div class="col-3 mt-5 mb-5">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-2">
              <fa-icon style="color: white; font-size: 30px;" [icon]="faMapMarkerAlt"></fa-icon>
            </div>
            <div class="col-10">
              <span class="txt-contacto">Tegucigalpa, D.C</span>
            </div>
          </div>
        </div>

        <div class="col-12 mt-4">
          <div class="row">
            <div class="col-2">
              <fa-icon style="color: white; font-size: 30px;" [icon]="faMobileAlt"></fa-icon>
            </div>
            <div class="col-10">
              <span class="txt-contacto">+504 99999999</span>
            </div>
          </div>
        </div>

        <div class="col-12 mt-4">
          <fa-icon style=" color: white; font-size: 25px;" class="" [icon]="faTwitter"></fa-icon>
          <fa-icon style=" color: white; font-size: 25px;" class="ml-3" [icon]="faFacebookSquare"></fa-icon>
          <fa-icon style=" color: white; font-size: 25px;" class="ml-3" [icon]="faLinkedin"></fa-icon>
        </div>

      </div>
    </div>
  </div>
</footer>
