/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden; }

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: block;
}

body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.modal-encabezado {
  text-align: center;

}

.modal-exito {
  background-color: #56A33B;
}
.modal-error {
  background-color: #ff0000;
}
.modal-confirmacion {
  background-color: #ce9732fa;
}

.modal-cuerpo{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Ponnala', sans-serif;
}

.mat-drawer-content {
  overflow: hidden !important;
}

.linkDahsboard-1 {
  color: coral;
  cursor: pointer;

}
.linkDahsboard-2 {
  color: cadetblue;
  cursor: pointer;

}
.linkDahsboard-3 {
  color: blueviolet;
  cursor: pointer;

}

.linkDahsboard-1:hover {
  text-decoration: underline;
}
.linkDahsboard-2:hover {
  text-decoration: underline;
}
.linkDahsboard-3:hover {
  text-decoration: underline;
}

.height-1 {
  height: 25px;
}
.height-2 {
  height: 100%;
}

.contenedor-dashboard {
  width: 80%;
  margin-left: auto;
}

.contenedor-buscar {
  width: 30rem;
  margin-left: auto;
  margin-top: 1rem;
}

