.contenedor{
  width: 95%;
}
.btn-1 {
  background-color: #4484ce;
  border-radius: 25px;
  color: white;
}
.btn-2 {
  background-color: #CE4444;
  border-radius: 25px;
  color: white;
}

.btn-2:focus {
  box-shadow: 0 0 0 0.2rem #d33d3d;
}

.btn-2:hover{
  background-color: #501b1b;
  border-color:#501b1b ;
}

.btn-2:active{
  background-color: #501b1b!important;
  border-color:#501b1b !important;
}

.btn-2:active:focus{
  box-shadow: 0 0 0 0.2rem #d33d3d!important;
}

.btn-3 {
  background-color: #4484ce;
  border-radius: 25px;
  color: white;
}

.btn-3 {
  background-color: #4484ce;
  border-radius: 25px;
  color: white;
}
.btn-3:active:focus{
  box-shadow: 0 0 0 0.2rem #4484ce9f!important;
}