
    <div class="card card-evento" >
      <img style="cursor:pointer;" class="card-img-top" [src]="(evento.Caratula)" alt="Card image cap">
      <div class="mt-1">
        <div class="container-fluid text-center">
          <span class="material-icons icono-footer">how_to_reg</span>
          <span class="material-icons icono-footer ml-2">delete</span>
          <span class="material-icons icono-footer ml-2">add_circle_outline</span>
          <span class="material-icons icono-footer ml-2">analytics</span>
          <span class="material-icons icono-footer ml-2">picture_as_pdf</span>
        </div>
      </div>
    </div>

