


  <div class="row  mt-1">
    <div class="col-12 ">
      <div class="text-right">
        <a href="/"><img src="../../../assets/img/RetornarAHomePage.svg" alt=""></a>
      </div>
    </div>
  </div>

<div class="contenedor">
  <div class="row">
    <div class="col-lg-7" >
      <div class="row">
        <div class="col-12">
          <img class="img-inputs" style="position: absolute; width: 100%;" src="../../../assets/img/RecuadroConPatrón.svg" alt="">
        </div>
        <div class="col-12 titulo-formulario mt-3" >

          <h2>Inicio de sesión</h2>
        </div>
        <div class="col-12 h4-formulario">
          <h4>Inicia sesión para acceder a nuestros servicios</h4>
        </div>
        <div class="col-12 mt-2">
          <form (ngSubmit)="onSubmitInicioSesion($event)" [formGroup]="formularioInicioSesion">
            <div class="container text-center">
              <mat-form-field class="control-formulario" appearance="fill">
                <mat-label>Ingrese su correo</mat-label>
                <input matInput placeholder="usuario@gmail.com" formControlName="email" required>
                <mat-error *ngIf="formularioInicioSesion.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
              </mat-form-field>

              <span style="font-size: 50px;" class="material-icons">
                person
              </span>
            </div>

            <div class="container text-center">

                <mat-form-field class="control-formulario mr-2" appearance="fill">
                  <mat-label>Ingrese su contraseña</mat-label>
                  <input matInput [type]="oculto ? 'password' : 'text'" formControlName="contrasenia" required >
                  <button mat-icon-button matSuffix (click)="oculto = !oculto" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oculto">
                    <mat-icon>{{oculto ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="formularioInicioSesion.get('contrasenia').invalid">{{getErrorMessage('contrasenia')}}</mat-error>
                </mat-form-field>
                <span style="font-size: 50px;" class="material-icons">
                  key
                </span>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="text-center">
                  <button  type="submit" class="btn btn-primary  btn-3">Acceder</button>
                </div>
              </div>
              <div class="col-12 text-center mt-3">
                <button type="button" (click)="abrirModal(modalRecuperarContrasenia)" class="btn btn-primary  btn-1">
                  ¿Olvidó su contraseña?
                </button>
              </div>
              <div class="col-12 h4-formulario mt-3">
                <h4>¿Todavía no tienes una cuenta en EduEvents?</h4>
              </div>
              <div class="col-12" >
                <div class="text-center">
                  <a href="/registrate" class="btn btn-primary btn-1 mb-2 ">¡Regístrate!</a>
                </div>
              </div>
            </div>


          </form>
        </div>

      </div>
    </div>
    <div class="col-lg-5 col-sm-12" style="padding-left: 0; padding-right: 0;">
      <div class="row">
        <div class="col-12">
          <div class="text-center div-bienvenido">
            <img class="mt-5 mb-1" src="../../../assets/img/EduEventsLetrasVector.svg" alt="">
            <img class="mb-4" style="width:100%;" src="../../../assets/img/DibujoAutenticar.svg" alt="">
            <h1 style="font-weight: bold;" >¡Bienvenido de Nuevo!</h1>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<!--Modal Recuperar contraseña-->
<ng-template #modalRecuperarContrasenia let-modal>

 <div class="modal-encabezado">
  <div class="row">
    <div class="col-12">
      <button type="button" class="close mr-2 mt-2 text-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span style="color: white;" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="col-12">
      <span>
        <h1 class="titulo-modal">Restablecer</h1>
      </span>
      <span>
        <h1 class="titulo-modal">Contraseña</h1>
      </span>
    </div>

  </div>
 </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <h4 class="h4-body-modal">Introduce tu correo electrónico</h4>
        <h4 class="h4-body-modal">para restablecer tu contraseña</h4>
      </div>

      <div class="col-12">
        <div class="text-center">
          <form  [formGroup]="formularioRecuperarContrasenia">

            <div class="row" *ngIf="(recuperarContrasenia.codigo == 0)">
              <div class="col-12">
                <mat-form-field  appearance="fill">
                  <mat-label>Ingrese su correo</mat-label>
                  <input matInput placeholder="usuario@gmail.com" formControlName="email" required>
                  <mat-error *ngIf="formularioRecuperarContrasenia.get('email').invalid">{{getErrorMessageRecuperarContrasenia('email')}}</mat-error>
                  <mat-hint class="campo-correcto" *ngIf="(recuperarContrasenia.usuarioEncontrado) && (!formularioRecuperarContrasenia.get('email').invalid)" >Código de verificación enviado a: {{formularioRecuperarContrasenia.get('email').value}}</mat-hint>
                </mat-form-field>
                <button [disabled]="recuperarContrasenia.usuarioEncontrado || formularioRecuperarContrasenia.get('email').invalid" (click)="onClickEnviarCodigo()" class="btn btn-primary btn-1 mb-2 ml-5">Enviar correo</button>

              </div>


            </div>

            <div *ngIf="(recuperarContrasenia.codigo == 0)" class="row mt-2">
              <div class="col-12">
                <mat-form-field   appearance="fill">
                  <mat-label>Ingrese su código</mat-label>
                  <input  matInput placeholder="1226xx" formControlName="codigo">
                  <mat-hint class="campo-incorrecto" *ngIf="(recuperarContrasenia.usuarioEncontrado) && (!codigoValido)" >Código no valido</mat-hint>
                </mat-form-field>
                <button  [disabled]="!recuperarContrasenia.usuarioEncontrado" class="btn btn-primary btn-1 mb-2 ml-5" (click)="validarCodigo()">Validar código</button>
              </div>
            </div>

            <ngx-spinner  bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
            <div *ngIf="(recuperarContrasenia.codigo != 0)" class="row mt-2">

              <div class="col-12">
                <mat-form-field   class="form-recuperar-Contraseña"  appearance="fill">
                  <mat-label>Ingrese su nueva contraseña</mat-label>
                  <input  matInput [type]="oculto ? 'password' : 'text'" formControlName="nuevaContrasenia"  >
                  <button mat-icon-button matSuffix (click)="oculto = !oculto" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oculto">
                    <mat-icon>{{oculto ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-hint class="campo-incorrecto" *ngIf="(formularioRecuperarContrasenia.get('nuevaContrasenia').invalid)" >Contraseña no valida</mat-hint>
                </mat-form-field>
                <span style="font-size: 50px;" class="material-icons mt-2">
                  key
                </span>
              </div>
              <div class="col-12">
                <mat-form-field   class="form-recuperar-Contraseña"  appearance="fill">
                  <mat-label>Repetir contraseña</mat-label>
                  <input  matInput [type]="oculto ? 'password' : 'text'" formControlName="repetirContrasenia" required  >
                  <button mat-icon-button matSuffix (click)="oculto = !oculto" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oculto">
                    <mat-icon>{{oculto ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-hint class="campo-incorrecto" *ngIf="(formularioRecuperarContrasenia.get('repetirContrasenia').invalid)" >La contraseña no coincide</mat-hint>
                </mat-form-field>
                <span style="font-size: 50px;" class="material-icons mt-2">
                  key
                </span>
              </div>
            </div>

            <div *ngIf="(recuperarContrasenia.codigo !=0)" class="container text-center">
              <button  (click)="onClickCambiarContrasenia();"  type="submit" class="btn btn-primary  btn-3 mt-1 ">Iniciar Sesión</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>


  <div class="modal-footer">
    <div class="container text-center">
      <h4>¿Todavía no tienes una cuenta en EduEvents?</h4>
    </div>
    <div class="container text-center">
      <a href="/registrate" (click)="modal.close('Close click')" class="btn btn-primary btn-1 mb-2"> ¡Regístrate!</a>
    </div>
  </div>
</ng-template>


