
  <div class="row  mt-1">
    <div class="col-12 ">
      <div class="text-right mr-5 mb-1">
        <a href="/"><img src="../../../assets/img/RetornarAHomePage.svg" alt=""></a>
      </div>
    </div>
  </div>

<div class="contenedor">
  <div class="row">
    <div class="col-lg-7" >
      <div class="row">
        <div class="col-12">
          <img class="img-inputs" style="position: absolute; width: 100%;" src="../../../assets/img/RecuadroConPatrón.svg" alt="">
        </div>
        <div class="col-12 titulo-formulario mt-3" >
          <h2>Inicio de sesión</h2>
        </div>
        <div class="col-12 h4-formulario">
          <h4>Inicia sesión para acceder a nuestros servicios</h4>
        </div>
        <div class="col-12 mt-2">
          <form  [formGroup]="formularioInicioSesion">
            <div class="container stCenter" >
              <mat-form-field class="control-formulario" appearance="outline">
                <mat-label>Ingrese su correo</mat-label>
                <input matInput placeholder="usuario@gmail.com" formControlName="email" required>
                <mat-error *ngIf="formularioInicioSesion.get('email').invalid">{{getErrorMessageEmail()}}</mat-error>
              </mat-form-field>

              <span style="font-size: 50px;" class="material-icons">
                person
              </span>
            </div>

            <div class="container stCenter" >
                <mat-form-field class="control-formulario" appearance="outline">
                  <mat-label>Ingrese su contraseña</mat-label>
                  <input matInput [type]="oculto ? 'password' : 'text'" formControlName="contrasenia" required >
                  <button class="stOjo" mat-icon-button matSuffix (click)="oculto = !oculto" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oculto">
                    <mat-icon>{{oculto ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="formularioInicioSesion.get('contrasenia').invalid">{{getErrorMessageContrasenia()}}</mat-error>
                  <mat-hint class="campo-incorrecto" *ngIf="(estadoLogin.codigo == 404)" > Correo o contraseña incorrectos</mat-hint>

                </mat-form-field>
                <span style="font-size: 50px; " class="material-icons">
                  key
                </span>
            </div>

            <div class="row mt-3">
              <div class="col-12">
                <div class="text-center">
                  <button [disabled]="formularioInicioSesion.invalid"  type="button" (click)="onClickInicioSesion(modaDialogoExito, modalDialogoError)" class="btn btn-primary  btn-3">Acceder</button>
                </div>
              </div>
              <div class="col-12 text-center mt-3">
                <button type="button" (click)="abrirModal(modalRecuperarContrasenia)" class="btn btn-primary  btn-1">
                  ¿Olvidó su contraseña?
                </button>
              </div>
              <div class="col-12 h4-formulario mt-3">
                <h4>¿Todavía no tienes una cuenta en EduEvents?</h4>
              </div>
              <div class="col-12" >
                <div class="text-center">
                  <a href="/registrate" class="btn btn-primary btn-1 mb-2 ">¡Regístrate!</a>
                </div>
              </div>
            </div>


          </form>
        </div>

      </div>
    </div>
    <div class="col-lg-5 col-sm-12" style="padding-left: 0; padding-right: 0;">
      <div class="row">
        <div class="col-12">
          <div class="text-center div-bienvenido">
            <img class="mt-5 mb-1" src="../../../assets/img/EduEventsLetrasVector.svg" alt="">
            <img class="mb-4" style="width:100%;" src="../../../assets/img/DibujoAutenticar.svg" alt="">
            <h1 style="font-weight: bold;" >¡Bienvenido de Nuevo!</h1>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<!--Modal Recuperar contraseña-->
<ng-template #modalRecuperarContrasenia let-modal>

 <div class="modal-encabezado-1">
  <div class="row">
    <div class="col-12">
      <button type="button" class="close mr-2 mt-2 text-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span style="color: white;" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="col-12">
      <span>
        <h1 class="titulo-modal">Restablecer</h1>
      </span>
      <span>
        <h1 class="titulo-modal">Contraseña</h1>
      </span>
    </div>

  </div>
 </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <h4 class="h4-body-modal">Introduce tu correo electrónico</h4>
        <h4 class="h4-body-modal">para restablecer tu contraseña</h4>
      </div>

      <div class="col-12 mt-3">
        <div class="text-center">
          <form  [formGroup]="formularioRecuperarContrasenia">

            <div class="row" >
              <div class="col-12">
                <mat-form-field  appearance="outline">
                  <mat-label>Ingrese su correo</mat-label>
                  <input matInput placeholder="usuario@gmail.com" formControlName="email" required>
                  <mat-error *ngIf="formularioRecuperarContrasenia.get('email').invalid">{{getErrorMessageRecuperarContrasenia('email')}}</mat-error>
                  <mat-hint class="campo-correcto" *ngIf="(recuperarContrasenia.usuarioEncontrado) && (!formularioRecuperarContrasenia.get('email').invalid)" >Código de verificación enviado a: {{formularioRecuperarContrasenia.get('email').value}}</mat-hint>
                  <mat-hint class="campo-incorrecto" *ngIf="(recuperarContrasenia.estado == 'no_encontrado')" >¡Error! No se encontró ninguna cuenta con este correo</mat-hint>
                </mat-form-field>
                <button style="width: 170px;" [disabled]="((recuperarContrasenia.codigo != 404) || formularioRecuperarContrasenia.get('email').invalid) && (recuperarContrasenia.tiempoEspera != 180)" (click)="onClickEnviarCodigo()" class="btn btn-primary btn-1 mb-2 ml-3">{{recuperarContrasenia.tiempoEspera == 180? 'Enviar código': obtenerTiempoEspera()}}</button>

              </div>

            </div>

            <div *ngIf="(recuperarContrasenia.usuarioEncontrado)" class="row mt-3">
              <div class="col-12">
                <mat-form-field   appearance="outline">
                  <mat-label>Ingrese su código</mat-label>
                  <input matInput placeholder="Coloque su token" formControlName="codigo" required>
                  <mat-hint class="campo-incorrecto" *ngIf="(recuperarContrasenia.usuarioEncontrado) && (recuperarContrasenia.estado == 'error' )" >Código no válido</mat-hint>
                  <mat-hint class="campo-correcto" *ngIf="(recuperarContrasenia.codigoValido)" >Código válido</mat-hint>
                </mat-form-field>
                <button style="width: 170px;" [disabled]="(!recuperarContrasenia.usuarioEncontrado) || (formularioRecuperarContrasenia.get('codigo').invalid) || (recuperarContrasenia.codigoValido)" class="btn btn-primary btn-1 mb-2 ml-3" (click)="validarCodigo()">Validar código</button>
              </div>
            </div>

            <ngx-spinner  bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
            <div *ngIf="(recuperarContrasenia.usuarioEncontrado && recuperarContrasenia.codigoValido)" class="row mt-2">

              <div class="col-12 stCenterModal">
                <mat-form-field   class="form-recuperar-Contraseña"  appearance="outline">
                  <mat-label>Ingrese su nueva contraseña</mat-label>
                  <input  matInput [type]="oculto ? 'password' : 'text'" formControlName="contrasenia"  >
                  <button class="stOjo" mat-icon-button matSuffix (click)="oculto = !oculto" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oculto">
                    <mat-icon>{{oculto ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-hint class="campo-incorrecto" *ngIf="(formularioRecuperarContrasenia.get('contrasenia').invalid)" >Contraseña no valida</mat-hint>
                </mat-form-field>
                <span style="font-size: 50px;" class="material-icons">
                  key
                </span>
              </div>
              <div class="col-12 stCenterModal">
                <mat-form-field   class="form-recuperar-Contraseña"  appearance="outline">
                  <mat-label>Repetir contraseña</mat-label>
                  <input  matInput [type]="oculto ? 'password' : 'text'" formControlName="repetirContrasenia" required  >
                  <button class="stOjo" mat-icon-button matSuffix (click)="oculto = !oculto" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oculto">
                    <mat-icon>{{oculto ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-hint class="campo-incorrecto" *ngIf="(formularioRecuperarContrasenia.get('repetirContrasenia').invalid)" >La contraseña no coincide</mat-hint>
                </mat-form-field>
                <span style="font-size: 50px;" class="material-icons">
                  key
                </span>
              </div>
            </div>

            <div *ngIf="(recuperarContrasenia.usuarioEncontrado && recuperarContrasenia.codigoValido)" class="container text-center">
              <button [disabled]="(formularioRecuperarContrasenia.invalid)"  (click)="onClickCambiarContrasenia( modaDialogoExito, modalDialogoError, modal );"  type="submit" class="btn btn-primary  btn-3 mt-1 ">Cambiar Contraseña</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>


  <div class="modal-footer">
    <div class="container text-center">
      <h4>¿Todavía no tienes una cuenta en EduEvents?</h4>
    </div>
    <div class="container text-center">
      <a href="/registrate" (click)="modal.close('Close click')" class="btn btn-primary btn-1 mb-2"> ¡Regístrate!</a>
    </div>
  </div>
</ng-template>

<!--Modal dialogo exito-->
<ng-template #modaDialogoExito let-modal>
  <div class="modal-encabezado modal-exito">
    <div class="row">

      <div class="col-12">
        <button type="button" class="close mr-2 mt-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span style="color: white;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12">
        <span class="material-icons" style="color: white; font-size: 121px;">
          check_circle_outline
        </span>
      </div>

    </div>
  </div>

  <div class="modal-body modal-cuerpo">
      <h3>¡Operación realizada con éxito!</h3>
      <h3>{{estadoLogin.mensaje}}</h3>
  </div>
  <div class="modal-footer">
      <button type="button" (click)="modal.close('Close click')" class="btn btn-primary centrar btn-1" style="margin-left: auto; margin-right: auto; padding-left: 1.25rem; padding-right: 1.25rem;">OK</button>

  </div>
</ng-template>

<!--Modal dialogo error-->
<ng-template #modalDialogoError let-modal>
  <div class="modal-encabezado modal-error">
    <div class="row">

      <div class="col-12">
        <button type="button" class="close mr-2 mt-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span style="color: white;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12">
        <span class="material-icons" style="color: white; font-size: 121px;">
          error
        </span>

      </div>

    </div>
  </div>

  <div class="modal-body modal-cuerpo">
      <h3>¡Error {{estadoLogin.codigo}}!</h3>
      <h3>{{estadoLogin.mensaje}}</h3>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary centrar btn-1" style="margin-left: auto; margin-right: auto; padding-left: 1.25rem; padding-right: 1.25rem;" (click)="modal.close('Close click')">Ok</button>
  </div>
</ng-template>

<!--Spinner-->
<ngx-spinner  bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
