.icono-footer {
  font-size: 36px;
  color: #4484CE;
  cursor: pointer;
}

.card-evento {
  background-color: #C4C4C4;

}


.Inactivo {
  color:white;
  background-color:#F9CF00;
  border-radius: 25px;
  padding-left: 5px;
  padding-right: 5px;
}
.Cerrado {
  color:white;
  background-color:#FE0000;
  border-radius: 25px;
  padding-left: 5px;
  padding-right: 5px;
}
.Activo {
  color:white;
  background-color:#17DA1D;
  border-radius: 25px;
  padding-left: 5px;
  padding-right: 5px;
}


.txtEvento {
  color:white;
  font-weight: 100;
}

.privado {
  color: black;
}

.publico {
  color: #4484CE;
}
