
  <div class="col-12 container-fluid background-header">
    <div class="row mt-2">
      <div class="col">
        <img class="brand-edu" [src]="'../../../../assets/img/EduEventsLetrasBlancoVector.svg'" alt="">
      </div>


      <div class="col mt-3 " style="margin-left: 43%;">
        <div class="contenedor-usuario" (click)="verMiPerfil()">
            <img class=" ml-4 mt-1 imagen-usuario" [src]="usuarioHeader.imagen" alt="">
            <span class="ml-4 txt-nombreUsuario">{{obtenerNombreCompleto()}}</span>
          </div>
      </div>
      <div *ngIf="(nombreItemActual != 'Mi perfil')" class="col-12 mt-2">
        <div class="contenedor-buscar mr-5 mb-4">
          <app-buscador (filtrarBusqueda)="filtrarBusqueda($event)" [idUsuarioActual]="usuarioHeader.id" ></app-buscador>
        </div>
      </div>
    </div>

  </div>
