<div class="row">
  <div class="col-12 container-fluid background-header">
    <div class="row mt-3">
      <div class="col-lg-6">
        <img class="brand-edu" [src]="'../../../../assets/img/EduEventsLetrasBlancoVector.svg'" alt="">
      </div>

      <div class="col-lg-5">
        <div class="contenedor-usuario">
            <span class="material-icons icono-usuario">account_circle</span>
            <span class="ml-4 txt-nombreUsuario">{{obtenerNombreCompleto()}}</span>
          </div>
      </div>

    </div>

    <div class="row">
      <div class="col-12  text-center txt-perfil">
        <h1>{{nombreItemActual}}</h1>
      </div>
    </div>

  </div>
</div>
