
  <div class="col-12" style="padding:0;"  >
    <mat-drawer-container class="contenedor"   autosize>
      <div class="container-fluid text-left">
        <span *ngIf="(mostrarBotonTogglet)" class="material-icons btn-toggle" mat-button (click)="mostarTogglet(drawer, false)">
          menu_open
        </span>
      </div>
      <mat-drawer  #drawer class="sidenav"  mode="side" >
        <div class="container">
          <div class="container-fluid text-right">
            <span  class="material-icons btn-toggle" mat-button (click)="mostarTogglet(drawer, true)">
              menu_open
            </span>
            <hr>
          </div>

          <div class="row panel-interno ">
            <div *ngFor="let item of items" (click)="seleccionarItem(item[0])" [class.item-seleccionado]="indexItemActual == obtenerIndexItem(item[0])" class="col-12  div-item mt-3">
              <div>
                <span class="material-icons iconos">{{item[1]}}</span>
                <span class="text-items ml-3">{{item[0]}}</span>
                </div>
            </div>

            <div class="col-12">
              <div class="container-fluid text-center logo">
                <img src="../../../../assets/img/Logo.svg" alt="">
              </div>
            </div>

          </div>

        </div>
      </mat-drawer>
    </mat-drawer-container>
  </div>
