<div *ngIf="vistaActual.vistaLista" class="row col-12 mt-3" style="width:100%">
    <span (click)="regresar()" matTooltip="Regresar" class="material-icons" style="font-size: 30px; color: #4484CE; cursor: pointer;">
      arrow_back
    </span>
  <div class="col-12 mt-2">
    <h1 style="color:#4484CE;">Gestionar participantes inscritos</h1>
  </div>

  <div class="col-12 row mt-1" style="margin:0%">

    <div *ngIf="mensajeNoInscritos" class="col-12" >
      <h3 style="color:#4484CE;"> ¡Aún no hay inscritos! </h3>
    </div>

    <div class="col-12">
    <mat-selection-list #personas (selectionChange)="onGroupsChange(personas.selectedOptions.selected)">
      <mat-list-option *ngFor="let persona of inscritos" [value]="persona.Id">
        <a (click)="verUsuario(persona)">{{persona.Nombre + " " + persona.Apellido}}</a>
      <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
    <p class="mt-1" style="text-align: center;">
      Opciones Seleccionadas: {{personas.selectedOptions.selected.length}}
    </p>
    </div>

  <div >

  <div class="col-12 row" style="margin: 0%;">
    <div *ngIf="!boolEmisionAsistencia" class="col-12 mt-4">
      <button [disabled]="listaAsistencia == null" (click)="enviarAsistencias(modalDialogoExito)" mat-flat-button style="border-radius: 15px; background-color: #4484CE; color: white; margin-left: auto; margin-right: auto;">
        <span class="material-icons">
          send
          </span> Enviar Lista </button>
    </div>

    <div *ngIf="boolEmisionAsistencia" class="col-12 mt-4">
        <p style="color: #4484CE; font-size: 20px;">¡La lista de asistencia ya fue enviada!</p>
    </div>

    <div class="col-12 mt-2">
      <button [disabled]="!boolEmisionAsistencia" mat-flat-button style="border-radius: 15px; background-color: #4484CE; color: white; margin-left: auto; margin-right: auto;">
        <span class="material-icons">
          download
          </span> Lista asistencia </button>
    </div>

    <div class="col-12">
    <mat-expansion-panel [disabled]="boolEmisionFirmas" hideToggle class="mt-4 mb-2">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="col-12" >
            <h3 ><strong>Opciones generar diploma </strong> </h3>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="col-12">Firmas</div>
      <div class="col-12 row" style="margin:0%">
        <div class="col-7 mt-1">
          <!--Selection list Organizador-->
          <mat-selection-list #boolOrganizador (selectionChange)="onOrganizador(boolOrganizador.selectedOptions.selected)">
            <mat-list-option [value]="1">
              Organizador
            </mat-list-option>
          </mat-selection-list>
          <!--Selection list Encargado-->
          <mat-selection-list #boolEncargado (selectionChange)="onEncargado(boolEncargado.selectedOptions.selected)">
            <mat-list-option [value]="1">
              Encargado
            </mat-list-option>
          </mat-selection-list>
        </div>

        <form [formGroup]="formularioFirma" class="col-2">
          <mat-form-field style="width: 100%;" matTooltip="Subir firma organizador">
            <div class="myfilebrowser">
              <mat-toolbar >
                <input formControlName="inputReadOnly" matInput class="input-archivo"  readonly  />
                <button  mat-flat-button class="btn-file " ><span class="material-icons">
                  file_upload
                  </span></button>
              </mat-toolbar>
              <input formControlName="inputFirma" (change)="onChangeArchivo($event)" type="file" #inputImagen id="fileUpload"  name="fileUpload" accept='.jpg, .png' />
            </div>

          </mat-form-field>
        </form>


      </div>

        <div class="col-12 mt-4">
        <button [disabled]="deshabilitar" (click)="generarDiplomas(modalDialogoExitoDiplomas)" mat-flat-button style="border-radius: 15px; background-color: #4484CE; color: white; margin-left: auto; margin-right: auto;">
          Generar diplomas </button>
        </div>
    </mat-expansion-panel>
  </div>
  </div>

  </div>
  </div>
</div>


<div *ngIf="vistaActual.vistaUsuario" class="row container" style="margin-left: auto; margin-right: auto;">
  <div  class="row">
    <div class="col-12">
      <app-perfil-usuario
        [vistaUsuario]="true"
        [perfil]="idUsuarioSeleccionado"
        style="width:100%; text-align: initial;"
        class="row"
      >
      </app-perfil-usuario >

      <div class="mt-2">

        <span (click)="verGestionarAsistentes()" matTooltip="Regresar" class="material-icons" style="font-size: 30px; color: #4484CE; cursor:pointer;">
          arrow_back
          </span>
      </div>

    </div>
  </div>
</div>

<!-- Modal Dialogo Éxito -->
<ng-template #modalDialogoExito let-modal>
  <div class="modal-encabezado modal-exito">
    <div class="row">

      <div class="col-12">
        <button type="button" class="close mr-2 mt-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span style="color: white;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12">
        <span class="material-icons" style="color: white; font-size: 121px;">
          check_circle_outline
        </span>
      </div>

    </div>
  </div>

  <div class="modal-body modal-cuerpo">
      <h3>¡Excelente!</h3>
      <h3>Se ha enviado la lista de asistencia con éxito.</h3>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary centrar btn-1" style="margin-left: auto; margin-right: auto; padding-left: 1.25rem; padding-right: 1.25rem;" (click)="modal.close('Close click')">OK</button>
  </div>
</ng-template>

<!-- Modal Dialogo Éxito Generar Diplomas-->
<ng-template #modalDialogoExitoDiplomas let-modal>
  <div class="modal-encabezado modal-exito">
    <div class="row">

      <div class="col-12">
        <button type="button" class="close mr-2 mt-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span style="color: white;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12">
        <span class="material-icons" style="color: white; font-size: 121px;">
          check_circle_outline
        </span>
      </div>

    </div>
  </div>

  <div class="modal-body modal-cuerpo">
      <h3>¡Excelente!</h3>
      <h3>Se ha realizado con éxito.</h3>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary centrar btn-1" style="margin-left: auto; margin-right: auto; padding-left: 1.25rem; padding-right: 1.25rem;" (click)="modal.close('Close click')">OK</button>
  </div>
</ng-template>

