
<div class="row">
  <div [class]="(!collapsar ? 'col-4 mt-5' : 'col-3 mt-5')">
    <app-card-evento></app-card-evento>
  </div>
  <div [class]="(!collapsar ? 'col-4 mt-5' : 'col-3 mt-5')">
    <app-card-evento></app-card-evento>
  </div>
  <div [class]="(!collapsar ? 'col-4 mt-5' : 'col-3 mt-5')">
    <app-card-evento></app-card-evento>
  </div>
  <div [class]="(!collapsar ? 'col-4 mt-5' : 'col-3 mt-5')">
    <app-card-evento></app-card-evento>
  </div>
  <div [class]="(!collapsar ? 'col-4 mt-5' : 'col-3 mt-5')">
    <app-card-evento></app-card-evento>
  </div>
  <div [class]="(!collapsar ? 'col-4 mt-5' : 'col-3 mt-5')">
    <app-card-evento></app-card-evento>
  </div>
</div>



