
<!-- Filtrar por nombre -->
<div *ngIf="(filtroActual.nombre && !mostrarDetallesEvento)"  class="row" style="width: 95%; margin-left: auto; margin-right: auto;">
  <div *ngFor="let evento of filteredEvento | async" [class]="(!collapsar ? 'col-4 mt-5' : 'col-3 mt-5')">
    <app-card-evento

      (onClickCardEvento)="actualizarEventoSeleccionado($event)"
      *ngIf="(evento.Id != -1)"
      [evento]="evento"

      ></app-card-evento>
  </div>
</div>

<!-- Filtrar por estado -->
<div *ngIf="(filtroActual.tipo && !mostrarDetallesEvento)" class="row" style="width: 95%; margin-left: auto; margin-right: auto;">
  <div *ngFor="let evento of eventosPorEstado" [class]="(!collapsar ? 'col-4 mt-5' : 'col-3 mt-5')">
    <app-card-evento
      (onClickCardEvento)="actualizarEventoSeleccionado($event)"
      *ngIf="(evento.Id != -1)" [evento]="evento"
    ></app-card-evento>
  </div>
</div>
<!-- Filtrar por fecha -->
<div *ngIf="(filtroActual.fecha && !mostrarDetallesEvento)" class="row" style="width: 95%; margin-left: auto; margin-right: auto;">
  <div *ngFor="let evento of eventosPorFecha" [class]="(!collapsar ? 'col-4 mt-5' : 'col-3 mt-5')">
    <app-card-evento
      (onClickCardEvento)="actualizarEventoSeleccionado($event)"
      *ngIf="(evento.Id != -1)"
      [evento]="evento"
    ></app-card-evento>
  </div>
</div>



<div *ngIf="(mostrarDetallesEvento)" class="row" style="margin-left: auto; margin-right: auto; width:100%">

  <app-detalles-evento style="margin-left: auto; margin-right: auto; width:100%" [isCollaps]="!collapsar" [idEvento]="idEventoSeleccionado" (onChangePath)="actualizarVistaDetallesEvento(false)" ></app-detalles-evento>

</div>







