<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="input-group mb-1" >

        <div style=" background-color: #F19F4D; height: 51px; width: 140px; margin-left: auto;">
          <div ngbDropdown class="d-inline-block mt-1">

            <button class="btn" id="dropdownBasic1" ngbDropdownToggle>
              <div class="row">
                <div class="col">
                  <span>{{filtroActual}}</span>
                </div>
                <div class="col">
                  <span class="material-icons">filter_alt</span>
                </div>
              </div>
              </button>
            <div  ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="seleccionarFiltro('Nombre')">Nombre</button>
              <button ngbDropdownItem (click)="seleccionarFiltro('Fecha')">Fecha</button>
              <button ngbDropdownItem (click)="seleccionarFiltro('Estado')">Estado</button>
            </div>
          </div>
        </div>

        <mat-form-field style="width: 60%; " *ngIf="(filtroActual == 'Fecha')"  appearance="fill">
          <mat-label >Ingrese un rango de fecha</mat-label>
          <mat-date-range-input  [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" (ngModelChange)="onChangeInputFecha()" placeholder="Fecha Inicio">
            <input matEndDate formControlName="end" (ngModelChange)="onChangeInputFecha()" placeholder="Fecha Final">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Fecha de inicio no valida</mat-error>
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Fecha final no valida</mat-error>
        </mat-form-field>


        <mat-form-field style="width: 60%;" *ngIf="(filtroActual == 'Nombre')" appearance="fill">
          <mat-label>Nombre del evento</mat-label>
          <input
                (ngModelChange)="onChangeInputNombre()"
                matInput
                aria-label="Evento"
                [matAutocomplete]="auto"
                [formControl]="nombre">
          <mat-autocomplete sty #auto="matAutocomplete">

              <mat-option *ngFor="let evento of (filteredEvento) | async" [value]="evento.Nombre">

                <div>
                  <img aria-hidden  [src]="evento.Caratula" height="25">
                  <span style="margin-left: 2px;">{{evento.Nombre}}</span> |
                  <small>{{evento.Estado_Evento}}</small>
                </div>
              </mat-option>

          </mat-autocomplete>

        </mat-form-field>

        <!--
          <input [formControl]="nombre" *ngIf="(filtroActual == 'Nombre')" type="text" style="background-color:rgba(0, 0, 0, 0.04); height: 45px; margin-top: 1px; border-color: whitesmoke;" class="form-control" placeholder="Nombre del evento" aria-label="Text input with dropdown button">
        -->

        <select (ngModelChange)="onChangeSelectEstado()" [formControl]="estado" *ngIf="(filtroActual == 'Estado')"  style="flex: 0 0 auto; background-color:rgba(0, 0, 0, 0.04);  height: 51px; width: 60%; margin-top: 1px; border: 0px solid #ced4da; color: black;"  class="form-control" >
          <option>Activo</option>
          <option>Inactivo</option>
          <option>Cerrado</option>
        </select>

      </div>

    </div>


  </div>
</div>
