<div class="row">
  <div class="col-12 mt-2 text-center">
    <h1 style="color:#4484CE;">Subir mi firma de encargado</h1>
  </div>

  <div *ngIf="previsualizacion== '' && croppedImage == ''" class="col-12 text-center">
    <span style="font-size: 10rem; color: #4484CE;" class="material-icons">
      drive_file_rename_outline
      </span>
  </div>

  <div class="col-lg-12 text-center"  >

    <img style="width: 10rem; margin-left: auto; margin-right: auto;"  (click)="previsualizacion = '' " class="img-usuario" *ngIf="previsualizacion != '' " [src]="previsualizacion" alt="">

    <div *ngIf="(previsualizacion == '')" style="width: 256px; margin-left: auto; margin-right: auto;">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="false"
        [aspectRatio]="4 / 4"
        [resizeToWidth]="256"
        format="png"
        (imageCropped)="imageCropped($event)"
        >
      </image-cropper>
    </div>


  </div>
  <div  class="col-lg-12 text-center mt-1"  >
    <button   *ngIf="croppedImage !=''" type="button" (click)="onGuardarRecorte()"  class="btn btn-primary btn-1 ml-3">Guardar</button>
    <button  *ngIf="(previsualizacion !='' || croppedImage != '') "  type="button"  (click)="onEliminarRecorte() " class="btn btn-primary btn-2 ml-3">Eliminar</button>

  </div>


  <form [formGroup]="formularioFirma" class="col-12 text-center">
    <mat-form-field style="width: 50%; margin-left: auto; margin-right: auto;" matTooltip="Subir firma">
      <div class="myfilebrowser">
        <mat-toolbar >
          <input  matInput class="input-archivo"  readonly formControlName="inputFirma"  />
          <button style="width:10rem !important"  mat-flat-button class="btn-file " ><span class="material-icons">file_upload</span> Subir Firma</button>
        </mat-toolbar>
        <input type="file" #inputImagen (change)="fileChangeEvent($event)" id="fileUpload"  formControlName="firma" name="fileUpload" multiple="multiple" accept='image/*' />
      </div>

    </mat-form-field>
  </form>
  <div class="col-12 text-center mt-2">
    <button [disabled]="previsualizacion == ''" type="button" (click)="subirFirma(modaDialogoExito, modalError)"  class="btn btn-primary btn-1">Subir firma</button>
  </div>

</div>


<!-- Modal Dialogo Éxito -->
<ng-template #modaDialogoExito let-modal>
  <div class="modal-encabezado modal-exito">
    <div class="row">

      <div class="col-12">
        <button type="button" class="close mr-2 mt-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span style="color: white;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12">
        <span class="material-icons" style="color: white; font-size: 121px;">
          check_circle_outline
        </span>
      </div>

    </div>
  </div>

  <div class="modal-body modal-cuerpo">
      <h3>¡Excelente!</h3>
      <h3>Operación realizada con éxito</h3>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary centrar btn-1" style="margin-left: auto; margin-right: auto; padding-left: 1.25rem; padding-right: 1.25rem;" (click)="modal.close('Close click')">OK</button>
  </div>
</ng-template>

<!-- Modal Error -->
<ng-template #modalError let-modal>
  <div class="modal-encabezado modal-error">
    <div class="row">

      <div class="col-12">
        <button type="button" class="close mr-2 mt-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span style="color: white;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12">
        <span class="material-icons" style="color: white; font-size: 121px;">
          {{mensajeModal[0].icono}}
        </span>

      </div>

    </div>
  </div>

  <div class="modal-body modal-cuerpo">
      <h3>{{mensajeModal[1].titulo1}}</h3>
      <h3>{{mensajeModal[1].titulo2}}</h3>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary  btn-1" style="margin-left: auto; margin-right: auto; padding-left: 1.25rem; padding-right: 1.25rem;" (click)="modal.close('Close click')">Aceptar</button>
  </div>
</ng-template>

