<div class="row">
  <div class="col-12" style="position: relative;">
    <app-sidenav
      style="position: absolute; padding: 0; margin: 0;"
      (setItem)="actualizarItemActual($event)"
      (bandera)="actualizarBandera($event)"
      (cerrarSesion)="onClickCerrarSesion($event, modalConfirmacion)"
      [ngClass]="(bandera ? 'col-1': 'col-lg-3')"
      [indexItemActual]="indexItemActual"
      >
    </app-sidenav>


    <app-header-dashboard
     [nombreItemActual]="obtenerItem(indexItemActual)"
     [usuarioHeader]="usuario"
    (onClickUsuario)="actualizarItemActual(obtenerIndexItem($event))"
     >
    </app-header-dashboard>


    <div class="row">
      <div *ngIf="(!bandera)" class="col-3"></div>
      <div [ngClass]="bandera? 'col-12' : 'col-9'">
        <!--
          En esta parte se reenderizara mediante condiciones los componentes que van en el cuerpo del dashboard
        -->

        <div *ngIf="(indexItemActual == obtenerIndexItem('Mi perfil'))" class="row">
          <app-perfil-usuario class="perfil-usuario" [perfil]="usuario" ></app-perfil-usuario>
        </div>

      </div>
    </div>
  </div>


</div>




<!-- Ventana modal de confirmación-->


<ng-template #modalConfirmacion let-modal>
  <div class="modal-encabezado modal-confirmacion">
    <div class="row">

      <div class="col-12">
        <button type="button" class="close mr-2 mt-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span style="color: white;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12">
        <span class="material-icons" style="color: white; font-size: 121px;">
          {{mensajeModal[0].icono}}
        </span>

      </div>

    </div>
  </div>

  <div class="modal-body modal-cuerpo">
      <h3>{{mensajeModal[0].titulo1}}</h3>
      <h3>{{mensajeModal[0].titulo2}}</h3>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary  btn-1" style="margin-left: auto; margin-right: auto; padding-left: 1.25rem; padding-right: 1.25rem;" (click)="modal.close('Close click')">No, no cerrar sesión</button>
      <button type="button" class="btn btn-primary  btn-2 " style="margin-left: auto; margin-right: auto; padding-left: 1.25rem; padding-right: 1.25rem;" (click)="onConfirmarCerrarSesion(modal)">Si, cerrar sesión</button>
  </div>
</ng-template>



<!-- Spinner -->
<ngx-spinner  bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>












