<div class="row">
  <div class="col-12" style="position: relative;">
    <app-sidenav
      style="position: absolute; padding: 0; margin: 0;"
      (setItem)="actualizarItemActual($event)"
      (bandera)="actualizarBandera($event)"
      (cerrarSesion)="onClickCerrarSesion($event)"
      [ngClass]="(bandera ? 'col-1': 'col-lg-3')"
      [indexItemActual]="0"></app-sidenav>
    <app-header-dashboard
     [nombreItemActual]="obtenerItem(indexItemActual)"
     [usuarioHeader]="usuario"
    (onClickUsuario)="actualizarItemActual(obtenerIndexItem($event))"
     >
    </app-header-dashboard>


    <div class="row">
      <div *ngIf="(!bandera)" class="col-3"></div>
      <div [ngClass]="bandera? 'col-12' : 'col-9'">
        <!--
          En esta parte se reenderizara mediante condiciones los componentes que van en el cuerpo del dashboard
        -->

        <div *ngIf="(indexItemActual == obtenerIndexItem('Mi perfil'))" class="row">
          <app-perfil-usuario class="perfil-usuario" [perfil]="usuario" ></app-perfil-usuario>
        </div>




      </div>
    </div>
  </div>


</div>











