
<div class="row">
  <div class="col-12" >
    <app-sidenav
      style="position: absolute; padding: 0; margin: 0;"
      (setItem)="actualizarItemActual($event)"
      (bandera)="actualizarBandera($event)"
      (cerrarSesion)="onClickCerrarSesion($event, modalConfirmacion)"
      [ngClass]="(bandera ? 'col-1': 'col-lg-3')"
      [indexItemActual]="indexItemActual"
      >
    </app-sidenav>


    <app-header-dashboard
      class="row"
      [nombreItemActual]="obtenerItem(indexItemActual)"
      [usuarioHeader]="usuario"
      [eventos]="eventos"
      (onClickUsuario)="actualizarItemActual(obtenerIndexItem($event))"
      (ctrlInput)="setCtrlBusqueda($event)"
      (ctrlInputFecha)="setCtrlBusquedaFecha($event)"
      (ctrlInputEstado)="setCtrlBusquedaEstado($event)"
      [desactivarBuscador]="ocultarBuscador"
     >
    </app-header-dashboard>

    <div class="row" style="margin-left: auto;">

      <div [ngClass]="bandera? 'col-12' : 'col-12'" style="margin: 0; padding:0;">
        <div class="row" [ngClass]="!bandera ? 'contenedor-dashboard': null">

          <!-- Aquí reenderizamos los componentes del dashboard-->

          <!-- Mi Perfil -->
          <app-perfil-usuario
            *ngIf="(indexItemActual == obtenerIndexItem('Mi perfil'))"
            (onClickMostrarFormularioEditarPerfil)="configComponenteUsuario.mostrarFormularioEditarUsuario = true"
            (actualizarUsuarioActual)="actualizarUsuarioActual($event)"

            style="width:100%;"
            [perfil]="usuario" >

          </app-perfil-usuario>

          <!-- Mis eventos-->
          <app-mis-eventos
            *ngIf="(indexItemActual == obtenerIndexItem('Mis eventos'))"
            class="container-fluid"
            style="width: 100%;"
            [usuarioActual]="usuario"
            [ctrlBuscar]="ctrlInput"
            [ctrlBuscarRangoFecha]="(ctrlInputRangoFecha)"
            [ctrlBuscarEstado]="ctrlInputEstado"
            [isCollaps]="!bandera"
            [misEventos]="misEventos"
            (onCrearConferencia)="actualizarDashBoard()"
            (onCrearEvento)="actualizarDashBoard()"
            (onEliminarEvento)="obtenerUsuario()"
            (onOcultarBuscador)="setOcultarBuscador($event)"
            [vistaBuscar]="vistaBuscar"
          >
          </app-mis-eventos>

          <!-- Inscripciones -->
          <app-inscripciones
            *ngIf="(indexItemActual == obtenerIndexItem('Inscripciones'))"
            class="container-fluid"
            style="width: 100%;"  >
          </app-inscripciones>


          <!-- Buscar evento -->
          <app-buscar-evento
            class="row text-center"
            [idUsuarioActual]="usuario.id"
            [ctrlBuscar]="(ctrlInput)"
            [ctrlBuscarRangoFecha]="(ctrlInputRangoFecha)"
            [ctrlBuscarEstado]="ctrlInputEstado"
            *ngIf="(indexItemActual == obtenerIndexItem('Buscar'))"
            [collapsar]="bandera"
            [eventos]="eventos"
            style="width: 100%; margin-left:auto;"
            (onOcultarBuscador)="setOcultarBuscador($event)"
            >
          </app-buscar-evento>



        </div>
      </div>
    </div>



  </div>


</div>




<!-- Ventana modal de confirmación-->


<ng-template #modalConfirmacion let-modal>
  <div class="modal-encabezado modal-confirmacion">
    <div class="row">

      <div class="col-12">
        <button type="button" class="close mr-2 mt-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span style="color: white;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12">
        <span class="material-icons" style="color: white; font-size: 121px;">
          {{mensajeModal[0].icono}}
        </span>

      </div>

    </div>
  </div>

  <div class="modal-body modal-cuerpo">
      <h3>{{mensajeModal[0].titulo1}}</h3>
      <h3>{{mensajeModal[0].titulo2}}</h3>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary  btn-1" style="margin-left: auto; margin-right: auto; padding-left: 1.25rem; padding-right: 1.25rem;" (click)="modal.close('Close click')">No, no cerrar sesión</button>
      <button type="button" class="btn btn-primary  btn-2 " style="margin-left: auto; margin-right: auto; padding-left: 1.25rem; padding-right: 1.25rem;" (click)="onConfirmarCerrarSesion(modal)">Sí, cerrar sesión</button>
  </div>
</ng-template>



<!-- Spinner -->
<ngx-spinner  bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>












