<div class="row" style="padding: 0; margin: 0;">
  <div class="col-lg-12 stback">
    <div class="row">
      <div class="col-lg-12">
        <app-header [current]="'eventos'"></app-header>
      </div>
    </div>
    <app-buscador></app-buscador>


    <div class="container" style="margin-top: 8%;">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col wow animate_animated animate__backInLeft">
          <div class="card">
            <img src="../../../assets/img/conf_1.png" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col wow animate_animated animate__backInLeft">
          <div class="card">
            <img src="../../../assets/img/conf_4.jpg" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col wow animate_animated animate__backInLeft">
          <div class="card">
            <img src="../../../assets/img/conf_3.png" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col wow animate_animated animate__backInLeft">
          <div class="card">
            <img src="../../../assets/img/conf_4.jpg" class="card-img-top" alt="...">

          </div>
        </div>
      </div>
    </div>


  </div>
</div>
