<div>
  <div class="stback col-12">
    <app-header [current]="'eventos'"></app-header>
  </div>

<div class="row col-9" >
  <div class="input-group mb-3 stPos" >
    <button class="btn btn-outline-secondary dropdown-toggle" style="background-color:#d9d9d988; padding-block-end: 0px;"  type="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="material-icons">
      filter_alt</span></button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    <input type="text" style="background-color:#d9d9d988; height: 40px; margin-top: 1px;" class="form-control" aria-label="Text input with dropdown button">
    <button class="btn btn-outline-secondary" style="background-color:#F9CF00; padding-block-end: 0px;" type="button" id="button-addon2"><span class="material-icons">search</span></button>
  </div>
  </div>
</div>

<div class="container" style="margin-top: 8%;">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col wow animate_animated animate__backInLeft">
      <div class="card">
        <img src="../../../assets/img/conf_1.png" class="card-img-top" alt="...">

      </div>
    </div>
    <div class="col wow animate_animated animate__backInLeft">
      <div class="card">
        <img src="../../../assets/img/conf_4.jpg" class="card-img-top" alt="...">

      </div>
    </div>
    <div class="col wow animate_animated animate__backInLeft">
      <div class="card">
        <img src="../../../assets/img/conf_3.png" class="card-img-top" alt="...">

      </div>
    </div>
    <div class="col wow animate_animated animate__backInLeft">
      <div class="card">
        <img src="../../../assets/img/conf_4.jpg" class="card-img-top" alt="...">

      </div>
    </div>
  </div>
</div>
