.stback{
  background-image: url("../../../assets/img/HeaderConCírculo.png");
  height: 100%;
  background-repeat: no-repeat;


}
.stPos{
  width: 500px;
  margin-top: 11%;
  margin-left: 30%;
}

.card{
  cursor: pointer;
}


