@import url('http://fonts.cdnfonts.com/css/ponnala');

.titulo-formulario {
  font-family: 'Ponnala', sans-serif;
  font-size: 22px;
  color: #4484CE;
  margin-bottom: 0%!important;
}
.h4-formulario {
  font-family: 'Ponnala', sans-serif;
  font-size: 14px;
  color: black;
}

.txt-1 {
  font-family: 'Ponnala', sans-serif;

}

.control-formulario {
  width: 95% !important;
  margin-left: auto;
  margin-right: auto;
}


.lbl-1 {
  font-family: 'Ponnala', sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: black;
}

.img-usuario-defecto {
  font-size: 128px;
  color: white;
}

.img-usuario {
  width: 128px;
  border-radius: 100%;
  cursor: pointer;

}
.div-img-usuario {
  background-color: rgb(117, 117, 117);
  width: 130px;
  height: 130px;
}

.btn-1 {
  background-color: #4484CE;
  border-radius: 25px;
}
.btn-2 {
  background-color: #CE4444;
  border-radius: 25px;
}


.contenedor-input {
  text-align: center;
  background: #282828;
  border-top: 5px solid #c39f77;
  padding: 50px 0;
  border-radius: 6px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.centrar {
  margin-left: 35%;

}

.centrar-contenedor {
  margin-left: auto;
  margin-right: auto;
}

.formulario {
  padding: 0;
  margin: 0;
}

.home {
  cursor: pointer;
  margin-left: auto;

}



.interes {

  background-color:#2196F3;
  border-radius: 15px;
  padding: 2px;
  color:#fff;
  display:inline-block;
  padding-left:8px;
  padding-right:8px;
  text-align:center
}


.no-row {
    display: initial;
    flex-wrap:none;
    margin-right:none;
    margin-left:none;
}

.previsualizacion {
  cursor: pointer;
  width: 256px;
  border-radius: 100%;
}

.campo-correcto {
  color: green;
}

.modal-encabezado {
  text-align: center;

}

.modal-exito {
  background-color: #56A33B;
}
.modal-error {
  background-color: #ff0000;
}

.modal-cuerpo{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Ponnala', sans-serif;
}

body {
 height: 100%;
}
.campo-incorrecto {
  color: rgb(230, 40, 40);

}

.stOjo{
  border: whitesmoke;
  background-color: whitesmoke;
}

.stback{
  background-image: url(../../../assets/img/ImgBackRegistro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  position: absolute;
}
