
<div class="row ml-lg-1">
  <div class="col-sm-12 col-md-12 col-xl-4 col-lg-4 " style="margin-top: 60px;">
    <img src="../../../assets/img/CuadroDibujoConferencia.svg" style="width: 100%;" alt="">
  </div>
  <div class="col-lg-8">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex flex-row-reverse mt-1">
          <a href="/">
            <img class="home"  src="../../../assets/img/RetornarAHomePage.svg" alt="">
          </a>
        </div>
    </div>

    </div>
    <form [formGroup]="formularioRegistro" (ngSubmit)="onSubmitRegistro($event)">
      <div class="row">

        <div class="col-12 centrar">
          <h2 class="titulo-formulario">Únete a EduEvents</h2>
        </div>
        <div class="col-12">
          <span style="color: red;">*</span>
          <span class="txt-1 ml-2">Indica un campo obligatorio</span>
        </div>

        <div class="col-sm-12 col-md-6 col-xl-6 col-lg-6">

          <mat-form-field class="control-formulario" appearance="fill">
            <mat-label class="">Nombre</mat-label>
            <input formControlName="nombre" required matInput>
            <mat-hint class="campo-correcto" *ngIf="!formularioRegistro.get('nombre').invalid" >El nombre ingresado es valido</mat-hint>
            <mat-error *ngIf="formularioRegistro.get('nombre').invalid">{{getErrorMessage('nombre')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="control-formulario" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input formControlName="apellido" required matInput>
            <mat-hint class="campo-correcto" *ngIf="!formularioRegistro.get('apellido').invalid" >El apellido ingresado es valido</mat-hint>
            <mat-error *ngIf="formularioRegistro.get('apellido').invalid">{{getErrorMessage('apellido')}}</mat-error>
          </mat-form-field>


          <mat-form-field class="control-formulario" appearance="fill">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="usuario@gmail.com" formControlName="email" required>
            <mat-hint class="campo-correcto" *ngIf="!formularioRegistro.get('email').invalid" >El correo ingresado es valido</mat-hint>
            <mat-error *ngIf="formularioRegistro.get('email').invalid">{{getErrorMessageEmail()}}</mat-error>
          </mat-form-field>

          <mat-form-field class="control-formulario" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="oculto ? 'password' : 'text'" formControlName="contrasenia" required >
            <button mat-icon-button matSuffix (click)="oculto = !oculto" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oculto">
              <mat-icon>{{oculto ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint class="campo-correcto" *ngIf="!formularioRegistro.get('contrasenia').invalid" >La contraseña ingresada es valida</mat-hint>
            <mat-error *ngIf="formularioRegistro.get('contrasenia').invalid">{{getErrorMessageContrasenia()}}</mat-error>
          </mat-form-field>

          <mat-form-field class="control-formulario" appearance="legacy">
            <mat-label color="success" >Formación Académica</mat-label>
            <mat-select formControlName="formacionAcademica" required>
              <mat-option value="Primaria">Primaria</mat-option>
              <mat-option value="Secundaria">Secundaria</mat-option>
              <mat-option value="Educación superior">Educación superior</mat-option>
            </mat-select>
            <mat-hint class="campo-correcto" *ngIf="!formularioRegistro.get('formacionAcademica').invalid" >Formación academica valida</mat-hint>
            <mat-error *ngIf="formularioRegistro.get('formacionAcademica').invalid">{{getErrorMessage('formacionAcademica')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="control-formulario"  appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea matInput rows="5" formControlName="descripcion" required></textarea>
            <mat-hint class="campo-correcto" *ngIf="!formularioRegistro.get('descripcion').invalid" >La descripción es valida</mat-hint>
            <mat-error *ngIf="formularioRegistro.get('descripcion').invalid">{{getErrorMessageEmail()}}</mat-error>
          </mat-form-field>

        </div>


        <div class="col-sm-12 col-md-5 col-xl-6 col-lg-6 ">

          <div class="row">
            <div class="col-lg-12" style="margin-left: 25%;" *ngIf="(previsualizacion == '' && croppedImage == '')">
              <img [src]="imgUsuarioPorDefecto" alt="">
            </div>
            <div class="col-lg-12"  style="margin-left: 25%;">

                <img  (click)="previsualizacion = '' " class="img-usuario" *ngIf="previsualizacion != '' " [src]="previsualizacion" alt="">

              <div *ngIf="(previsualizacion == '')" style="width: 256px;">
                <image-cropper
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="4 / 4"
                  [resizeToWidth]="256"
                  format="png"
                  (imageCropped)="imageCropped($event)"
                  >
                </image-cropper>
              </div>


            </div>
            <div  class="col-lg-12 mt-3"  style="margin-left: 25%;">
              <button   *ngIf="croppedImage !=''" type="button" (click)="onGuardarRecorte()"  class="btn btn-primary btn-1 ml-3">Guardar</button>
              <button  *ngIf="(previsualizacion !='' || croppedImage != '') "  type="button"  (click)="onEliminarRecorte() " class="btn btn-primary btn-2 ml-3">Eliminar</button>
            </div>

            <div class="col-lg-12 mt-1"  style="text-align: center;">
              <h4 class="h4-formulario">Subir imagen desde el computador</h4>
            </div>

            <div class="col-lg-12">
              <div class="">
                <input #inputImagen  (change)="fileChangeEvent($event)" type="file" formControlName="imagen"  required >
                <mat-hint class="campo-correcto" *ngIf="!formularioRegistro.get('imagen').invalid && !errorImagen" >Foto de perfil valida</mat-hint>
                <mat-error class="mt-2" *ngIf="errorImagen">{{getErrorMessage('imagen')}}</mat-error>
              </div>
            </div>

            <div class="col-lg-12">
              <mat-form-field class="control-formulario" appearance="fill">
                <mat-label>Institución</mat-label>
                <input formControlName="institucion" required matInput>
                <mat-hint class="campo-correcto" *ngIf="!formularioRegistro.get('institucion').invalid" >Nombre de institución valido</mat-hint>
                <mat-error *ngIf="formularioRegistro.get('institucion').invalid">{{getErrorMessage('institucion')}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-lg-12">
              <mat-form-field class="control-formulario"  appearance="fill">
                <mat-label>Intereses separados por coma</mat-label>
                <div class="row">
                  <div class="col-12 mt-2">
                    <mat-label class="interes ml-1 mt-1 mb-1" *ngFor="let tag of intereses">{{tag}}</mat-label>
                  </div>
                </div>
                <textarea name="txt-intereses" (ngModelChange)="actualizarIntereses($event)" formControlName="intereses" required matInput rows="5">
                </textarea>
                <mat-error *ngIf="formularioRegistro.get('intereses').invalid">{{getErrorMessage('intereses')}}</mat-error>
                <mat-hint class="campo-correcto" *ngIf="!formularioRegistro.get('intereses').invalid" >Intereses validos</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-12 mb-5">
              <button  type="submit" class="btn btn-primary centrar btn-1 centrar">Registrarse</button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>

</div>

